body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-85px;
  width:1019px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:788px;
  height:864px;
}
#u2353 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:182px;
  width:788px;
  height:864px;
  display:flex;
}
#u2353 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2353_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:799px;
  height:480px;
}
#u2354 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:521px;
  width:799px;
  height:480px;
  display:flex;
}
#u2354 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2354_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2355_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2355 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:996px;
  width:300px;
  height:39px;
  display:flex;
}
#u2355 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2355_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2356 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:977px;
  width:111px;
  height:18px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2356 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2356_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
  text-align:left;
}
#u2357 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:971px;
  width:284px;
  height:30px;
  display:flex;
  color:#AAAAAA;
  text-align:left;
}
#u2357 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2357_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2358 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:1012px;
  width:111px;
  height:18px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2358 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2358_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
  text-align:left;
}
#u2359 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:1006px;
  width:284px;
  height:30px;
  display:flex;
  color:#AAAAAA;
  text-align:left;
}
#u2359 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2359_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2360 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:154px;
  width:155px;
  height:720px;
}
#u2360_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2361 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
  font-size:18px;
}
#u2362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u2362 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
  display:flex;
}
#u2362 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2362_img.selected {
}
#u2362.selected {
}
#u2362_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2363 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:41px;
  height:20px;
  display:flex;
}
#u2363 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2363_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2361_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2364 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:63px;
  height:20px;
  font-size:18px;
}
#u2365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2365 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:41px;
  height:20px;
  display:flex;
}
#u2365 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2365_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2366 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u2367 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
  display:flex;
}
#u2367 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2367_img.selected {
}
#u2367.selected {
}
#u2367_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2368 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2368 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2368_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2366_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2369 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2370 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2370 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2370_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2371 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2372 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2372 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2372_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2373 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:135px;
  height:20px;
  font-size:18px;
}
#u2374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2374 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:113px;
  height:20px;
  display:flex;
}
#u2374 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2374_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2375 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:135px;
  height:20px;
  font-size:18px;
}
#u2376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2376 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:113px;
  height:20px;
  display:flex;
}
#u2376 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2376_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2377 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:100px;
  width:135px;
  height:20px;
  font-size:18px;
}
#u2378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2378 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:113px;
  height:20px;
  display:flex;
}
#u2378 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2378_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2379 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:120px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2380 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2380 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2380_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2381 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:140px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2382 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2382 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2382_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2383 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u2384 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
  display:flex;
}
#u2384 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2384_img.selected {
}
#u2384.selected {
}
#u2384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2385 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2385 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2385_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2383_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2386 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:99px;
  height:20px;
}
#u2387_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2387 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2387 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2387_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2388 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2389 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2389 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2389_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2390 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2391 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2391 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2391_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2392 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u2393 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
  display:flex;
}
#u2393 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2393_img.selected {
}
#u2393.selected {
}
#u2393_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2394 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2394 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2394_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2392_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2395 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2396 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2396 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2396_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2397 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(129, 211, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2398 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2398 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2398_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2399 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2400 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2400 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2400_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2401 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:135px;
  height:20px;
  font-size:18px;
}
#u2402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2402 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:113px;
  height:20px;
  display:flex;
}
#u2402 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2402_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2403 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:100px;
  width:135px;
  height:20px;
  font-size:18px;
}
#u2404_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2404 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:113px;
  height:20px;
  display:flex;
}
#u2404 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2404_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2405 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:120px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2406 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2406 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2406_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2407 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:140px;
  width:135px;
  height:20px;
  font-size:18px;
}
#u2408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2408 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:113px;
  height:20px;
  display:flex;
}
#u2408 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2408_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2409 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:440px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u2410 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
  display:flex;
}
#u2410 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2410_img.selected {
}
#u2410.selected {
}
#u2410_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2411 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2411 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2411_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2409_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2412 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2413 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2413 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2413_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2414 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:135px;
  height:20px;
  font-size:18px;
}
#u2415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2415 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:113px;
  height:20px;
  display:flex;
}
#u2415 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2415_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2416 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2417 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2417 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2417_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2418 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:520px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u2419 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
  display:flex;
}
#u2419 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2419_img.selected {
}
#u2419.selected {
}
#u2419_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2420 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2420 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2420_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2418_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2421 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2422 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2422 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2422_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2423 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2424 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2424 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2424_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2425 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2426 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2426 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2426_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2427 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:117px;
  height:20px;
  font-size:18px;
}
#u2428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2428 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:95px;
  height:20px;
  display:flex;
}
#u2428 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2428_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2429 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:100px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2430 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2430 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2430_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2431 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:640px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u2432 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
  display:flex;
}
#u2432 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2432_img.selected {
}
#u2432.selected {
}
#u2432_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2433 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2433 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2433_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2431_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2434 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2435 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2435 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2435_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2436 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2437 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2437 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2437_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2438 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:700px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u2439 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
  display:flex;
}
#u2439 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2439_img.selected {
}
#u2439.selected {
}
#u2439_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2440 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2440 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2440_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2438_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u2441 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2442 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2442 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2442_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2443 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2444 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2444 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2444_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2445 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2446 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2446 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2446_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2447 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2448 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2448 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2448_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
