body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-100px;
  width:1384px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1384px;
  height:625px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2320 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:82px;
  width:1384px;
  height:625px;
  display:flex;
}
#u2320 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2320_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:24px;
}
#u2321 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:98px;
  width:130px;
  height:24px;
  display:flex;
}
#u2321 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2321_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2322_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:526px;
}
#u2322 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:123px;
  width:1px;
  height:525px;
  display:flex;
  opacity:0.49;
  color:#AAAAAA;
}
#u2322 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2322_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2323 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2324_input {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2324_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2324_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2324 {
  border-width:0px;
  position:absolute;
  left:1280px;
  top:106px;
  width:59px;
  height:22px;
  display:flex;
}
#u2324 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2324_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2324.disabled {
}
.u2324_input_option {
}
#u2325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2325 {
  border-width:0px;
  position:absolute;
  left:1371px;
  top:99px;
  width:64px;
  height:18px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2325 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2325_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2326_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2326 {
  border-width:0px;
  position:absolute;
  left:1361px;
  top:124px;
  width:84px;
  height:18px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2326 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2326_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:10px;
}
#u2327 {
  border-width:0px;
  position:absolute;
  left:1444px;
  top:129px;
  width:18px;
  height:10px;
  display:flex;
}
#u2327 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2327_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u2328 {
  border-width:0px;
  position:absolute;
  left:1214px;
  top:98px;
  width:33px;
  height:30px;
  display:flex;
}
#u2328 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2328_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2329 {
  border-width:0px;
  position:absolute;
  left:1214px;
  top:134px;
  width:32px;
  height:18px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2329 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2329_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2330 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:204px;
  width:85px;
  height:18px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2330 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2330_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2331_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
  text-align:left;
}
#u2331 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:198px;
  width:94px;
  height:30px;
  display:flex;
  color:#AAAAAA;
  text-align:left;
}
#u2331 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2331_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2332 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:204px;
  width:84px;
  height:18px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2332 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2332_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
  text-align:left;
}
#u2333 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:198px;
  width:94px;
  height:30px;
  display:flex;
  color:#AAAAAA;
  text-align:left;
}
#u2333 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2333_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2334_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2334 {
  border-width:0px;
  position:absolute;
  left:1032px;
  top:198px;
  width:59px;
  height:31px;
  display:flex;
}
#u2334 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2334_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2335_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:31px;
  background:inherit;
  background-color:rgba(129, 211, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2335 {
  border-width:0px;
  position:absolute;
  left:965px;
  top:198px;
  width:59px;
  height:31px;
  display:flex;
}
#u2335 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2335_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2336 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:34px;
}
#u2337 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:152px;
  width:270px;
  height:34px;
  display:flex;
}
#u2337 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2337_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1110px;
}
#u2338 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:-369px;
  width:1px;
  height:1109px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.49;
  color:#AAAAAA;
}
#u2338 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2338_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2339 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:123px;
  width:170px;
  height:19px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2339 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2339_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2340 {
  border-width:0px;
  position:absolute;
  left:761px;
  top:204px;
  width:84px;
  height:18px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2340 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2340_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2341_input {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2341_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u2341 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:198px;
  width:81px;
  height:30px;
  display:flex;
  color:#AAAAAA;
}
#u2341 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2341_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u2341.disabled {
}
.u2341_input_option {
}
#u2342_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1109px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2342 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:248px;
  width:1109px;
  height:31px;
  display:flex;
  text-align:left;
}
#u2342 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2342_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:31px;
  background:inherit;
  background-color:rgba(129, 211, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2343 {
  border-width:0px;
  position:absolute;
  left:1340px;
  top:290px;
  width:44px;
  height:31px;
  display:flex;
}
#u2343 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2343_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2344 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
}
#u2345 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:251px;
  width:15px;
  height:12px;
  display:flex;
}
#u2345 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2345_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
}
#u2346 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:264px;
  width:15px;
  height:12px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2346 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:24px;
}
#u2347 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:289px;
  width:93px;
  height:24px;
  display:flex;
}
#u2347 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2347_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u2348 {
  border-width:0px;
  position:absolute;
  left:1209px;
  top:289px;
  width:101px;
  height:24px;
  display:flex;
}
#u2348 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2348_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
}
#u2349 {
  border-width:0px;
  position:absolute;
  left:857px;
  top:289px;
  width:109px;
  height:24px;
  display:flex;
}
#u2349 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2349_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2350_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:31px;
  background:inherit;
  background-color:rgba(129, 211, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2350 {
  border-width:0px;
  position:absolute;
  left:1401px;
  top:289px;
  width:44px;
  height:31px;
  display:flex;
}
#u2350 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2350_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u2351 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:289px;
  width:70px;
  height:24px;
  display:flex;
}
#u2351 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2351_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
}
#u2352 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:289px;
  width:109px;
  height:24px;
  display:flex;
}
#u2352 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2352_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:88px;
}
#u2353 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:427px;
  width:508px;
  height:88px;
  display:flex;
  text-align:left;
}
#u2353 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2353_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u2354 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:330px;
  width:70px;
  height:24px;
  display:flex;
}
#u2354 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2354_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
}
#u2355 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:330px;
  width:109px;
  height:24px;
  display:flex;
}
#u2355 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2355_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2356 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:152px;
  width:155px;
  height:540px;
}
#u2356_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2357 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
  font-size:18px;
}
#u2358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u2358 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
  display:flex;
}
#u2358 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2358_img.selected {
}
#u2358.selected {
}
#u2358_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2359 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:41px;
  height:20px;
  display:flex;
}
#u2359 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2359_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2357_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2360 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:63px;
  height:20px;
  font-size:18px;
}
#u2361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2361 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:41px;
  height:20px;
  display:flex;
}
#u2361 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2361_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2362 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u2363 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
  display:flex;
}
#u2363 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2363_img.selected {
}
#u2363.selected {
}
#u2363_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2364 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2364 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2364_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2362_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2365 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:99px;
  height:20px;
}
#u2366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2366 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2366 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2366_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2367 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2368 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2368 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2368_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2369 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2370 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2370 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2370_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2371 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2372 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2372 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2372_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2373 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u2374 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
  display:flex;
}
#u2374 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2374_img.selected {
}
#u2374.selected {
}
#u2374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2375 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2375 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2375_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2373_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2376 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2377 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2377 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2377_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2378 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2379 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2379 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2379_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2380 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2381 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2381 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2381_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2382 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:135px;
  height:20px;
  font-size:18px;
}
#u2383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2383 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:113px;
  height:20px;
  display:flex;
}
#u2383 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2383_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2384 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:100px;
  width:135px;
  height:20px;
  font-size:18px;
}
#u2385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2385 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:113px;
  height:20px;
  display:flex;
}
#u2385 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2385_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2386 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:260px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u2387 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
  display:flex;
}
#u2387 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2387_img.selected {
}
#u2387.selected {
}
#u2387_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2388 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2388 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2388_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2386_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2389 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2390 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2390 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2390_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2391 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u2392 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
  display:flex;
}
#u2392 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2392_img.selected {
}
#u2392.selected {
}
#u2392_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2393 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2393 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2393_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2391_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2394 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2395 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2395 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2395_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2396 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:117px;
  height:20px;
  font-size:18px;
}
#u2397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2397 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:95px;
  height:20px;
  display:flex;
}
#u2397 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2397_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2398 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:135px;
  height:20px;
  font-size:18px;
}
#u2399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2399 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:113px;
  height:20px;
  display:flex;
}
#u2399 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2399_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2400 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2401 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2401 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2401_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2402 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:100px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2403 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2403 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2403_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2404 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:420px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u2405 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
  display:flex;
}
#u2405 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2405_img.selected {
}
#u2405.selected {
}
#u2405_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2406 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2406 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2406_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2404_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2407 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2408 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2408 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2408_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2409 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2410 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2410 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2410_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2411 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:480px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u2412 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
  display:flex;
}
#u2412 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2412_img.selected {
}
#u2412.selected {
}
#u2412_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2413 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2413 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2413_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2411_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2414 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2415 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2415 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2415_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2416 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:99px;
  height:20px;
  font-size:18px;
}
#u2417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2417 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
  display:flex;
}
#u2417 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u2417_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
